<html>
    <head>
        <title>{% block title '' %}</title>
        {% block meta '' %}
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block navigation '' %}
        {% block body '' %}
        {% block javascripts '' %}
    </body>
</html>
