<li style="list-style-type:none">
    {{ form_label( address.label) }}
    {{ form_widget(address.label) }}
    {{ form_errors(address.label) }}
</li>

{{ include('SrmWebsiteBundle:Address:zip.html.twig', { zip: address.zip }, with_context = false) }}
