parameters:
    database_driver:    pdo_mysql
    database_host:      localhost
    database_port:      ~
    database_name:      srm
    database_user:      srm
    database_password:

    locale:             fr
    fallback_locale:    en
    secret:             ThisTokenIsNotSoSecretChangeIttt
