<li style="list-style-type:none">
    {{ form_label( zip.code) }}
    {{ form_widget(zip.code) }}
    {{ form_errors(zip.code) }}
</li>

{{ include('SrmWebsiteBundle:Address:city.html.twig', { city: zip.city }, with_context = false) }}
