<div class="form-actions">
    <div class="pull-right">
        <a href="{{ url_edit }}" class="btn btn-info">{{ 'button.edit'|trans }}</a>
        <a href="{{ url_cancel }}" class="btn btn-default">{{ 'button.cancel'|trans }}</a>
    </div>
</div>
