<div class="form-actions">
    {{ form_widget(save_form, { attr: { 'data-loading-text': 'button.saving'|trans } }) }}

    <a href="{{ url_cancel }}" class="btn">{{ 'button.cancel'|trans }}</a>
</div>
