<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}SRM{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% stylesheets filter="cssrewrite" combine=true output="css/all.css"
            "@SrmWebsiteBundle/Resources/public/vendor/bootstrap/css/bootstrap.min.css"
            "@SrmWebsiteBundle/Resources/public/css/*"
        %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    </head>
    <body>
        {% block body '' %}

        {% javascripts combine=true output="js/all.js"
            "@SrmWebsiteBundle/Resources/public/vendor/jquery-1.10.2.min.js"
            "@SrmWebsiteBundle/Resources/public/vendor/bootstrap/js/bootstrap.min.js"
            "@SrmWebsiteBundle/Resources/public/js/*"
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    </body>
</html>
